<div class="container" id="contact">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ .Content }}
            <form action="https://formspree.io/f/mwpegyyq" method="POST">
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required><br>
                
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="_replyto" required><br>
                
                <label for="message">Message:</label><br>
                <textarea id="message" name="message" rows="4" required></textarea><br>
                
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>